$invoice-border-color: #eee;

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid $invoice-border-color;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  color: #555;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;

  &__header {
    &-item {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }

    &-cell {
      display: flex;
      flex-direction: column;
      padding: 5px 5px 20px;

      &--company {
        padding-bottom: 40px;
      }

      &--right {
        display: flex;
        align-items: flex-end;
      }
    }

    &-logo {
      width: 100%;
      max-width: 300px;
      border: 0;
    }
  }

  &__table {
    width: 100%;
    line-height: inherit;
    text-align: left;

    td {
      padding: 5px;
      vertical-align: top;

      &:nth-child(2) {
        text-align: right;
      }
    }

    &-heading {
      td {
        border-bottom: 1px solid #ddd;
        background: #eee;
        font-weight: bold;
      }
    }

    &-item {
      td {
        border-bottom: 1px solid $invoice-border-color;
      }

      &--last {
        td {
          border-bottom: 0;
        }
      }
    }

    &-total {
      td {
        &:nth-child(2) {
          border-top: 2px solid $invoice-border-color;
          font-weight: bold;
        }
      }
    }

    &-vat {
      td {
        border-top: 2px solid $invoice-border-color;
        white-space: nowrap;
      }
    }

    &-input {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .invoice-box {
    &__header {
      &-item {
        flex-direction: column;
      }

      &-cell {
        align-items: center;
      }
    }
  }
}
